<!-- inherit from base.html-->
{% extends "bracket_app/base_template.html" %}

{% load static %}

<!-- Replace block content in base_template.html -->
{% block content %}
<h1>Tournament Bracket Generator</h1><br>
<h4>What is this?</h4>
<p style="max-width: 600px;  margin: 20px 20px 20px 20px; color: #cccccc">
    Tournament Bracket Generator is a versatile tool designed 
    to simplify the process of creating brackets for various 
    types of tournaments, games, or sports competitions. Whether 
    you're organizing a basketball tournament, a video game 
    competition, a chess championship, or any other competitive event, 
    this application can be a valuable resource.
</p><br>
<h4>How do I make a tournament bracket?</h4>
<p style="max-width: 600px;  margin: 20px 20px 20px 20px; color: #cccccc">
    Go to the <strong>Create</strong> page, enter in the details for 
    the tournament bracket, and click submit! Anyone will be able
    to view your tournament bracket.
</p>

<img src="{% static 'images/bracket_example.jpg' %}" >

{% endblock %}