{% extends 'bracket_app/base_template.html' %}


{% block content %}
<h1>Tournament List</h1>
{% if tournament_list %}
<ul>
   {% for tournament in tournament_list %}
   <li>
      {{ tournament.title }} - Organizer: {{ tournament.creator }}
      <a class="btn btn-primary" href="{{ tournament.get_absolute_url }}" role="button">View</a>
      <a class="btn btn-danger" href="{% url 'tournament-delete' pk=tournament.id %}" role="button">Delete</a>
      <a class="btn btn-secondary" href="{% url 'tournament-update' pk=tournament.id %}" role="button">Update</a>
   </li>
   {% endfor %}
</ul>
{% else %}
<p>There are no tournaments.</p>
{% endif %}
{% endblock %}